
  .portada {
    resize: both;
  
    overflow: auto;
  
    background-color: cadetblue;
  
    height: 150px;
  
    background-image: url("../img/salon2.jpg");
  
    background-repeat: no-repeat;
  
    background-size: cover;
  
    background-position: center;
  
    background-attachment: fixed;
  }